@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Log ind med brugerid <a asp-controller="Bruger" asp-action="Login">her</a>.
    <p>Registrér ny bruger <a asp-controller="Bruger" asp-action="Create">her</a>.
    <p>Bestil pizza <a asp-controller="Bestilling" asp-action="Create">her</a>.
</div>
